<section class="instagram">
  <link rel="stylesheet" href="./website/components/instaFeed/insta.css"/>
  <script src="./website/components/instaFeed/insta.js"></script>
  <div class="instafeed"></div>
</section>