
@import './settings.scss';
@import './banner.scss';

$font-size-root: 10px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $font-size-root;
}

a {
  text-decoration: none;
}

body {
  background: rgb(255, 155, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 155, 0, 0.7) 6%,
    rgba(231, 86, 210, 0.7) 100%
  );
  font-family: 'Roboto Condensed', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Amatic SC', cursive;
}

h1 {
  font-size: 6rem;
  letter-spacing: 1rem;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: start;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

li {
  font-size: 3rem;
  list-style: none;
}

li a {
  color: $origin-dark;
}

li a:hover {
  color: rgb(71, 71, 71);
}

.logo {
  padding: 2rem;
  color: #960ce8;
}
