$origin-dark: #121212;
$container-bg: #272727;
$yellow: #E9C058;

// Mixins
@mixin breakpoint($width) {
  @media screen and (max-width: #{$width}){
    @content;
  }
}

@mixin containerDefaults($fontSize, $color, $backgroundColor) {
  background-color: $container-bg;
  font-size: $fontSize;
  text-align: center;
  a {
    color: $color;
  }
}