
@import './settings.scss';
@import '../components/banner/banner.scss';

$font-size-root: 10px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $font-size-root;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  display: grid;
  grid-template-columns: 20vw 1fr 1fr;
  grid-template-areas:
    "sidebar hero hero"
    "sidebar content content";

  height: 100vh;
  background-image: linear-gradient(to right top, #051937, #003e62, #00646d, #008850, #75a30f);
  font-family: 'Roboto Condensed', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: $font-amatic;
}

h1 {
  font-size: 6rem;
  letter-spacing: 1rem;
}

// main site grid

main {
  overflow-y: scroll;
  grid-area: content;
}

aside {
  grid-area: sidebar;
  grid-row: 1/ -1;
  height: 100vh;
  background-color: $origin-dark;
}

// anker styles

.underline-hover {
  box-shadow: inset 0 -0.2em 0 #088596;
  transition: transform .2s ease-in-out,box-shadow .2s ease-in-out,-webkit-transform .2s ease-in-out;
  &:hover{
    box-shadow: inset 0 -1.5em 0 #004F7F;
  }
}

.intro__text {
  color: white;
  font-size: 2rem;
}

h2 {
  font-size: 3rem;
}