// Colors
$origin-dark: #121212;
$container-bg: #272727;
$yellow: #E9C058;

// Fonts
$font-amatic: 'Amatic SC', cursive;

// Breakpoints
$breakpoint-s: 600px;
$breakpoint-m: 1200px;

// Mixins
@mixin fromBreakpoint($width) {
  @media screen and (min-width: #{$width}){
    @content;
  }
}

@mixin containerDefaults($fontSize, $color, $backgroundColor) {
  font-family: $font-amatic;
  background-color: $container-bg;
  font-size: $fontSize;
  text-align: center;
  a {
    color: $color;
  }
}