<section class="banner">
  <link rel="stylesheet" href="./website/components/banner/banner.css"/>
  <div class="banner__hero"><a href="">CSS GRID</a></div>
  <div class="banner__item banner__item--blog underlineHover"><a href="blog.html">Blog</a></div>
  <div class="banner__item banner__item--layout underlineHover"><a href="">Layout</a></div>
  <div class="banner__item banner__item--app underlineHover"><a href="">App</a></div>
</section>
