@import '../../styles/settings.scss';

.banner {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  grid-gap: 0.5rem;
  grid-area: hero;

  @include fromBreakpoint($breakpoint-s) {
    grid-gap: 3rem;
    grid-template-columns: 1fr minmax(400px, 8fr) minmax(100px, 4fr) 1fr;  }

  @include fromBreakpoint($breakpoint-m) {
    margin-top: 5rem;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 8fr 4fr 1fr;
    grid-gap: 2rem;
  }

  &__hero {
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 15rem;
    @include containerDefaults($yellow, $origin-dark);
    @include fromBreakpoint($breakpoint-s) {
      grid-area: 1 / 2 / 4 / 3;
      font-size: 20rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__item {
    grid-column-start: 2;
    grid-column-end: 3;
    @include containerDefaults($yellow, $origin-dark);

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;

    &--blog {
      // punkt links oben: reihenfolte oben dann links, punkt rechts unten: reihenfolge unten dann rechts
      @include fromBreakpoint($breakpoint-s) {
        grid-area: 1 / 3 / 2 / 4;
      }
    }
    &--layout {
      @include fromBreakpoint($breakpoint-s) {
        grid-area: 2 / 3 / 3 / 4;
      }
    }
    &--app {
      @include fromBreakpoint($breakpoint-s) {
        grid-area: 3 / 3 / 4 / 4;
      }
    }
  }

}