<section class="footer">
  <link rel="stylesheet" href="./website/components/footer/footer.css"/>

  <div class="footer__left">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-github"></i></a>
	</div>

  <div class="footer__right">
    <p class="footer__right-links">

					<a href="#">Daheim</a>

					<a href="#">Layouts</a>

					<a href="#">Blog</a>

					<a href="#">App</a>

					<a href="#">Über uns</a>
				</p>

				<p>CSS Grid &copy; 2019</p>
	</div>
</section>