<section class="footer">
  <link rel="stylesheet" href="./website/components/footer/footer.css"/>

  <div class="footer__right">
    <a href="https://www.instagram.com/cssgrid.de/"><i class="fab fa-instagram fa-3x"></i></a>
    <a href="https://twitter.com/cssgrid"><i class="fab fa-twitter fa-3x"></i></a>
    <a href="https://github.com/Benschodie/css-grid.de"><i class="fab fa-github fa-3x"></i></a>
	</div>

  <div class="footer__left">
		<p>CSS Grid &copy; 2019</p>
	</div>
</section>