
  <div class="post">
    <h3>Second one</h3>
    <article><p>This one is <b>much </b> better <u>and underlined</u>:</p><p></p><p><code>const benny = &quot;WOW!&quot;;</code></p></article>
  </div>
  <div class="post">
    <h3>First post</h3>
    <article><p>Our very first post</p></article>
  </div>
  <div class="post">
    <h3>Third post</h3>
    <article><p>This one also has <span>type: entry-hyperlink id: 2xsKIzV4wXUQlCuDcaTDpl</span> in it:</p><blockquote><p>Quote me</p></blockquote><hr/><p></p></article>
  </div>