
  <div class="post">
    <h3>Second one</h3>
    <article><p>This one is <b>much </b> better <u>and underlined</u>:</p><p></p><p><code>const benny = &quot;WOW!&quot;;</code></p></article>
  </div>
  <div class="post">
    <h3>Hello Benny</h3>
    <article><p>Our very first post</p></article>
  </div>