

<nav class="navigation">
  <link rel="stylesheet" href="./website/components/navigation/navigation.css"/>
  <script src="./website/components/navigation/navigation.js"></script>
  <ul>
    <li>
      <a href="" class="underlineHover">
        Über uns
      </a>
    </li>
    <li>
      <a href="" class="underlineHover">
        Layouts
      </a>
    </li>
    <li>
      <a href="/blog.html" class="underlineHover">
        Blog
      </a>
    </li>
    <li>
      <a href="" class="underlineHover">
        App
      </a>
    </li>
  </ul>


</nav>