<nav class="navigation">
  <link rel="stylesheet" href="./website/components/navigation/navigation.css"/>
  <script src="./website/components/navigation/navigation.js"></script>
  <div class="logo">LOGO</div>
  <ul>
    <li>
      <a href="">
        Über uns
      </a>
    </li>
    <li>
      <a href="">
        Layouts
      </a>
    </li>
    <li>
      <a href="">
        Blog
      </a>
    </li>
    <li>
      <a href="">
        App
      </a>
    </li>
  </ul>


</nav>