<section class="banner">
  <link rel="stylesheet" href="./components/banner/banner.css"/>
  <div class="banner__hero"><a href="">CSS GRID</a></div>
  <div class="banner__item--blog"><a href="">Blog</a></div>
  <div class="banner__item--layout"><a href="">Layout</a></div>
  <div class="banner__item--app"><a href="">App</a></div>
</section>